h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

.is-flex {
	display: flex !important;
}

.is-flex-direction-column {
	flex-direction: column;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fz-40 {
	font-size: 40px;
}

.overflow-hidden {
	overflow: hidden;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.z-index-2 {
	z-index: 2;
}

.px-1 {
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.px-2 {
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}

.px-3 {
	padding-left: 0.6rem;
	padding-right: 0.6rem;
}

.px-4 {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}

.px-5 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.back-btn {
	color: var(--white);
	--background: rgba(255, 255, 255, 0.2);
}

.action-btn {
	font-weight: 500;
	font-size: 20px;
	--padding-top: 0;
	--padding-bottom: 0;
	--padding-end: 0;
	--padding-start: 0;
	min-width: 30px;
	height: 30px;
}

.action-btns {
	top: 0px;
	left: 0;
	transform: translateY(-50%);
}

.custom-btn-light {
	--color: var(--ion-color-primary);
	--background: var(--ion-color-light);
	font-size: 18px;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.line-through {
	text-decoration: line-through;
}

.dark {
	color: var(--ion-color-dark);
}

.border-top-left-no-radius {
	border-top-left-radius: 0 !important;
}

.border-bottom-left-no-radius {
	border-bottom-left-radius: 0 !important;
}

.border-top-right-no-radius {
	border-top-right-radius: 0 !important;
}

.border-bottom-right-no-radius {
	border-bottom-right-radius: 0 !important;
}

.vertical-middle {
	vertical-align: middle;
}

.main-content {
	background-color: var(--ion-color-light);
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	margin-top: -30px;
	// min-height: 100vh;

	// &::before {
	// 	width: 100%;
	// 	height: 100px;
	// 	content: '';
	// 	display: block;
	// 	background-color: var(--ion-color-light);
	// 	bottom: -100px;
	// 	left: 0;
	// 	position: absolute;
	// 	z-index: -1;
	// }
}

.header {
	&::after {
		display: none !important;
	}
}

.toolbar {
	--border-width: 0 !important;
	--opacity: 1 !important;
	--background: transparent;
}

.default-icon-btn {
	font-size: 20px;
	width: 40px !important;
	height: 40px !important;
	--padding-bottom: 10px !important;
	--padding-top: 10px !important;
	--padding-start: 10px !important;
	--padding-end: 10px !important;
}

.mt-auto {
	margin-top: auto;
}

.sage-pt {
	padding-top: var(--ion-safe-area-top);
}

.rounded {
	border-radius: 10px;
}

.decoration-line-through {
	text-decoration: line-through;
}

.uppercase {
	text-transform: uppercase;
}

.no-wrap {
	white-space: nowrap;
}

.view-description,
.view-description-2,
.view-description-3 {
	margin: 0;
	-webkit-line-clamp: 5;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.view-description-3 {
	-webkit-line-clamp: 3;
}

.view-description-2 {
	-webkit-line-clamp: 2 !important;
}

.viewAll {
	display: block;
}

.italic {
	font-style: italic;
}

.capitalized {
	text-transform: capitalize;
}

.underline {
	text-decoration: underline;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
	display: none;
	-webkit-overflow-scrolling: touch !important;
}

* {
	-webkit-overflow-scrolling: touch !important;
}

.w-50 {
	max-width: 50%;
	width: 50%;
}
