.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.fade-slide-enter-active,
.fade-slide-leave-active {
	transition: opacity 0.2s ease, transform 0.2s ease;
}

.fade-slide-enter-from,
.fade-slide-leave-to {
	opacity: 0;
	transform: translateY(10px);
}

.notification-enter-active,
.notification-leave-active {
	transition: all 0.2s ease;
	overflow: hidden;
}

.notification-enter-to {
	height: 71px;
	padding: 16px;
}

.notification-enter-from {
	transform: translateY(-100px);
}

.notification-leave-from {
	opacity: 1;
	height: 71px;
	padding: 16px;
}

.notification-leave-to {
	opacity: 0;
	height: 0;
	padding: 0;
	transform: translateY(-100px);
}

.image-left-enter-active,
.image-left-leave-active {
	transition: all 0.2s ease;
}

.image-left-enter-from,
.image-left-leave-to {
	opacity: 0;
	transform: translateX(-100%);
}

.slide-y-enter-active,
.slide-y-leave-active {
	transition: opacity 0.2s ease, transform 0.2s ease;
}

.slide-y-enter-from,
.slide-y-leave-to {
	opacity: 0;
	transform: translateY(-20px);
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
	transition: opacity 0.5s ease-in, transform 0.3s ease-in;
}

.slide-bottom-enter-from,
.slide-bottom-leave-to {
	opacity: 0;
	transform: translateY(400px);
}
