<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033159312679-sblh08qlh22upq7pi7f23pfrjjqpjkjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033159312679-sblh08qlh22upq7pi7f23pfrjjqpjkjv</string>
	<key>API_KEY</key>
	<string>AIzaSyDWiTnxsFzoQaXWbjd4GKGDsTeDZwHmXSA</string>
	<key>GCM_SENDER_ID</key>
	<string>1033159312679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.niamka.com</string>
	<key>PROJECT_ID</key>
	<string>niamka-a6087</string>
	<key>STORAGE_BUCKET</key>
	<string>niamka-a6087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033159312679:ios:2cbeeec708ceef858c5502</string>
</dict>
</plist>